/*
 * Copyright (c) 2024 Andrew Featherstone
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <raspberrypi/rpi_pico/rp2350a.dtsi>
#include <raspberrypi/rpi_pico/m33.dtsi>
#include <zephyr/dt-bindings/lora/sx126x.h>

#include "../proves_flight_control_board_v5/proves_flight_control_board_v5.dtsi"

/* v5e uses an SX126x-based LoRa module. Override inherited v5 SX1276 settings. */
&lora0 {
	compatible = "semtech,sx1262";
	reset-gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
	busy-gpios =  <&gpio0 13 (GPIO_ACTIVE_HIGH)>;
	dio1-gpios =  <&gpio0 14 (GPIO_ACTIVE_HIGH)>;
	tx-enable-gpios =  <&gpio0 21 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
	rx-enable-gpios =  <&gpio0 22 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
	dio3-tcxo-voltage = <SX126X_DIO3_TCXO_1V8>;
	tcxo-power-startup-delay-ms = <10>;
	rx-boosted;
	label = "E22-400M30S";

	/delete-property/ dio-gpios;
	/delete-property/ power-amplifier-output;
};

/* v5e moves the MCP23017 from i2c1 to i2c0. */
&i2c1 {
	/delete-node/ mcp23017@20;
};

&i2c0 {
	mcp23017: mcp23017@20 {
		compatible = "microchip,mcp23017";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;

		/* gpio-line-names index : signal
		 *  0: ENABLE_HEATER (GPA0)        8: FACE5_ENABLE (GPB5)
		 *  1: PAYLOAD_PWR_ENABLE (GPA1)   9: FACE0_ENABLE (GPB1)
		 *  2: FIRE_DEPLOY2_B (GPA2)      10: FACE1_ENABLE (GPB2)
		 *  3: PAYLOAD_BATT_ENABLE (GPA3) 11: FACE2_ENABLE (GPB3)
		 *  4: SBAND_RX_EN (GPA4)         12: FACE3_ENABLE (GPB4)
		 *  5: RF2_IO1 (GPA5)             13: FACE4_ENABLE (GPB0)
		 *  6: RF2_IO0 (GPA6)             14: 5V_RESET (GPB6)
		 *  7: SBAND_TX_EN (GPA7)         15: CHARGE (GPB7)
		 */
		gpio-line-names = "ENABLE_HEATER", "PAYLOAD_PWR_ENABLE", "FIRE_DEPLOY2_B", "PAYLOAD_BATT_ENABLE",
						  "SBAND_RX_EN", "RF2_IO1", "RF2_IO0", "SBAND_TX_EN",
						  "FACE5_ENABLE", "FACE0_ENABLE", "FACE1_ENABLE", "FACE2_ENABLE",
						  "FACE3_ENABLE", "FACE4_ENABLE", "5V_RESET", "CHARGE";

		reset-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;

		ngpios = <16>;
	};
};

/*
 * v5e SBAND enables move from raw GPIOs onto the MCP. RF2_IO2/RF2_IO3 inputs
 * inherited from v5.dtsi conflict with the new SBAND lines on pins 4 and 7,
 * so drop them.
 */
/ {
	gpio_outputs {
		sband_rx_en: sband-rx-en {
			gpios = <&mcp23017 4 GPIO_ACTIVE_HIGH>;
			label = "SBAND_RX_EN";
		};

		sband_tx_en: sband-tx-en {
			gpios = <&mcp23017 7 GPIO_ACTIVE_HIGH>;
			label = "SBAND_TX_EN";
		};
	};

	gpio_inputs {
		/delete-node/ rf2-io2;
		/delete-node/ rf2-io3;
	};
};
