CONFIG_BUILD_OUTPUT_HEX=y
CONFIG_BUILD_OUTPUT_UF2=y
CONFIG_CLOCK_CONTROL=y
CONFIG_CONSOLE=y
CONFIG_GPIO=y
CONFIG_RESET=y
CONFIG_SERIAL=y
CONFIG_UART_CONSOLE=y
CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_USE_DT_CODE_PARTITION=y

# USB Next Stack
CONFIG_USBD_CDC_ACM_CLASS=y
CONFIG_USB_DEVICE_STACK_NEXT=y
CONFIG_CDC_ACM_SERIAL_ENABLE_AT_BOOT=y
CONFIG_CDC_ACM_SERIAL_INITIALIZE_AT_BOOT=y
CONFIG_CDC_ACM_SERIAL_PID=0x000F
CONFIG_CDC_ACM_SERIAL_VID=0x0028
CONFIG_CDC_ACM_SERIAL_PRODUCT_STRING="PROVES Flight Control Board v5e"

CONFIG_I2C_TCA954X=y
CONFIG_I2C_TCA954X_ROOT_INIT_PRIO=70
CONFIG_I2C_TCA954X_CHANNEL_INIT_PRIO=71

# Sensors
CONFIG_SENSOR=y
CONFIG_LSM6DSO=y
CONFIG_LSM6DSO_ENABLE_TEMP=y
CONFIG_LIS2MDL=y
CONFIG_INA219=y
CONFIG_TMP112=y
CONFIG_VEML6031=y

# Radio
CONFIG_LORA=y
CONFIG_LORA_SX126X=y

# RTC
CONFIG_RTC=y
CONFIG_RTC_RV3028=y
CONFIG_RTC_ALARM=y

# Bootloader settings
CONFIG_BOOTLOADER_MCUBOOT=y
CONFIG_MCUBOOT_BOOTUTIL_LIB=y
# Use an offset to swap images
CONFIG_MCUBOOT_BOOTLOADER_MODE_SWAP_USING_OFFSET=y
# Allow downgrade (fallback)
CONFIG_MCUBOOT_BOOTLOADER_NO_DOWNGRADE=n
# Hyper important. Adjust and fail.
CONFIG_ROM_END_OFFSET=0x1150
CONFIG_MCUBOOT_UPDATE_FOOTER_SIZE=0x1000

# Settings to allow flash image writes
CONFIG_FLASH=y
CONFIG_FLASH_MAP=y
CONFIG_STREAM_FLASH=y
CONFIG_IMG_MANAGER=y
